.card {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

#playing-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.left {
    align-self: flex-start;
}

.middle {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.right {
    align-self: flex-end;
}